<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Rates List</title>
    <link href="/css/list-styles.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <form method="post" th:action="@{/logout}">
        <button class="logout-button" type="submit">Выйти</button>
    </form>
</div>

<h1>Курсы валют</h1>

<table border="1">
    <thead>
    <tr>
        <th>Код</th>
        <th>Название</th>
        <th>Курс валюты (₽)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="currency : ${currencies}">
        <td th:text="${currency.code}"></td>
        <td th:text="${currency.name}"></td>
        <td th:text="${currency.exchangeRate + ' ₽'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
