<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link href="/css/auth-styles.css" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <h1>Регистрация</h1>
    <form action="/api/auth/register" method="post">
        <input name="username" placeholder="Логин" required type="text"/>
        <input name="password" placeholder="Пароль" required type="password"/>
        <input name="preferredCurrency" placeholder="Предпочитаемая валюта" required type="text">
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();

        const form = e.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: form.method,
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/auth";
                } else {
                    alert("Пользователь с таким логином уже существует!");
                }
            })
            .catch(() => alert("Ошибка запроса"));
    });
</script>

</body>
</html>
